@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  scroll-behavior: smooth;

  --white: #ffffff;
  --black: #232323;

  --green: #c2dc49;
  --dark-green: #3c6628;
  --green-transparent: rgba(var(--green), 0.4);

  --gray: #c4c4c4;
  --gray-second: #8a8a8a;
  --dark-gray: #636363;

  --milky: #e5e1d8;

  --gap: 20px;
  --nav-size: 80px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

body {
  padding-top: var(--nav-size);
}

h1 {
  font-size: 50px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--nav-size);

  padding: calc(var(--gap) / 2) var(--gap);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  background-color: var(--black);
  user-select: none;
}

.nav {
  display: flex;
  column-gap: var(--gap);
}

.nav__link {
  color: var(--white);
  transition: text-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    text-shadow: 0 0 7px var(--white);
    transform: scale(1.05);
  }
}

.demo {
  width: 100%;
  height: 80dvh;
}

.demo__video {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.character {
  display: flex;
  width: 100%;
  height: calc(100dvh - var(--nav-size));

  background: url("../img/images/section2-bg.png") center / cover no-repeat;
}

.character__img {
  text-align: center;
  position: relative;

  width: 30%;

  &>img {
    height: 100%;

    object-position: center bottom;
    object-fit: cover;
  }

  &>figcaption {
    --radius: 20px;

    width: 100%;

    position: absolute;
    bottom: 0;

    font-size: 16px;
    font-style: italic;

    background-color: var(--black);
    color: var(--white);

    padding-block: 30px;

    border-radius: var(--radius) var(--radius) 0 0;
  }
}


.character__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-grow: 1;
  flex-shrink: 0;

  width: 40%;
  height: 100%;
  padding: 15px;

  position: relative;
  z-index: 2;

  &>header {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    &>h2 {
      font-size: 40px;
    }

    &>h3 {
      color: var(--dark-gray);
    }
  }

  &>section {

    &>p {
      font-weight: 600;
      color: var(--black);

      &>mark {
        background-color: var(--green);
      }
    }

    &>details {

      &>summary {
        list-style: none;

        color: var(--dark-green);
        transition: color 0.2s ease;

        cursor: pointer;

        &:hover {
          color: var(--green);
        }
      }
    }
  }

  &>footer {
    &>p {
      font-style: italic;
      font-weight: 700;
      color: var(--black);
      justify-self: flex-end;
    }
  }
}

.character__additional.additional {
  padding: 30px;

  background-color: var(--black);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;

  position: relative;
  z-index: 2;
}

.character__content {
  font-size: 20px;
}

.additional__item {
  display: flex;
  column-gap: 15px;
}

.additional__item span {
  font-weight: 700;
  white-space: nowrap;
}

/* Skills start */
.skills {
  background: url("../img/images/section3-bg.png") center/cover no-repeat;
  min-height: 40dvh;
  padding: 100px 0 50px;

  display: flex;
  align-items: center;
}

.skills__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 25%));
  grid-template-rows: repeat(4, fit-content);
  justify-content: space-between;
  gap: var(--gap);

  max-width: 1200px;
  margin-inline: auto;
  padding: var(--gap);
}

.skills__card.card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;

  align-items: start;
  
  min-height: 0;
  padding: var(--gap);
  
  background-color: var(--black);
  color: var(--white);
  
  border-radius: 20px;
  text-align: center;
  
  &>.card__img {
    margin-top: -80px;
  }
  
  &>.card__title {
    font-size: 30px;
    font-weight: 400;
    color: var(--green);
  }
  
  &>.card__subtitle {
    font-size: 25px;
    color: var(--white);
  }
  
  &>.card__text {
    color: var(--gray-second);
  }
}

/* Skills end */

/* Media start */
@media screen and (max-width: 810px) {
  .skills__content {
      grid-template-columns: repeat(1, clamp(300px, 50dvw, 350px));
      row-gap: 100px;
      justify-content: center;
  }

  .skills__card.card {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: var(--gap);
  }
}
/* Media end */